*{box-sizing: border-box;margin: 0;padding: 0;}
.all{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height:49vh;

}
.cTop{
    display: flex;
    height:49vh;
}
.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
 }
.codes{
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-left:20px ;
    font-size: 15px; 
}

.codetop{
    height: 30px;
    position: fixed;
    width: 45%;
    color:white;
    font-size: 20px;
    padding-left: 17px;
    border-radius: 15px 15px 0 0;
    background: rgb(45,45,45);
}

#demo{
    margin-top:15px ;
    height: 49vh;
    overflow-y:auto;
    padding: 20px;
    border-radius: 0 0 15px 15px;
}
#demo::-webkit-scrollbar {
    display: none;
  }

.button{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.button button{
    padding: 10px;
    margin-top: 10px;
    background: rgb(45,45,45);
    color: white;
    border-radius: 15px;
}

@media(max-width:500px){
    .codes{
        width: 90%;
        margin-left:0px ;
    }
    .codetop{
        width: 100%;
    }
    .button{ 
        padding: 0;
        margin-top: 20px;
        width: 10%;
    }
    .button button{
        padding: 10px;
    }
}